<div class="distribution-planning-tool">
  <h1>Distribution Planning Tool</h1>
  <div class="site-selection">
    <form [formGroup]="siteSelectionForm">
      <label for="origin">Origin Site:</label>
      <select formControlName="origin">
        <option *ngFor="let site of sites" [value]="site.name">{{ site.name }}</option>
      </select>

      <label for="destination">Destination Site:</label>
      <select formControlName="destination">
        <option *ngFor="let site of sites" [value]="site.name">{{ site.name }}</option>
      </select>
    </form>
  </div>
  <div class="columns">
    <div class="column gray-column"></div>
    <div class="column gray-column"></div>
    <div class="column blue-column">
      <button (click)="addScenario()">+ Add Scenario</button>
    </div>
  </div>
</div>

<router-outlet />

<div class="app-container">
  <app-site-list></app-site-list>
  <app-scenario-form *ngIf="formVisible$ | async"></app-scenario-form>
  <div class="scenarios" *ngIf="scenarios$ | async as scenarios">
    <app-scenario-results *ngFor="let scenario of scenarios" [scenario]="scenario" (close)="removeScenario(scenario)">
    </app-scenario-results>
  </div>
</div>