<div class="scenario-form">
  <h2>Delivery Scenario</h2>
  <form [formGroup]="scenarioForm" (ngSubmit)="onSubmit()" *ngIf="!showResults">
    <label for="fillTime">Trailer Fill Time (days):</label>
    <input id="fillTime" formControlName="fillTime" type="number">

    <label for="offloadTime">Offload Time (days):</label>
    <input id="offloadTime" formControlName="offloadTime" type="number">

    <label for="numberOfVehicles">No. of Vehicles:</label>
    <input id="numberOfVehicles" formControlName="numberOfVehicles" type="number">

    <label for="haulerPrice">Hauler Price ($/mile):</label>
    <input id="haulerPrice" formControlName="haulerPrice" type="number">

    <label for="trailerModel">Rental Trailer Type:</label>
    <select id="trailerModel" formControlName="trailerModel">
      <option *ngFor="let model of trailerModels" [value]="model.name">{{ model.name }}</option>
    </select>

    <label for="trailerPrice">Rental Trailer Price ($/month):</label>
    <input id="trailerPrice" formControlName="trailerPrice" type="number">

    <button type="submit" mat-button class="blue-button">Calculate</button>
    <button type="button" (click)="onCancel()">Cancel</button>
  </form>

  <ng-container *ngIf="showResults">
    <div *ngFor="let scenario of scenarios; let i = index">
      <app-scenario-results [scenario]="scenario" (close)="removeScenario(i)"></app-scenario-results>
    </div>
  </ng-container>
</div>